body {
	background-color: #FFCC85;
	width: 960px;
	margin: 0 auto;	
	margin-top: 10px;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

.menu-btn {
	width: 150px;
	text-align: center;
	font-size: 40px;
	border: 0;
	background-color: #CF4C21;
	border-radius: 20px;
}

.menu-btn:hover {
	cursor: hand;
	color: white;
}

.menu-btn:first-of-type {
	margin-left: 140px;
}

.menu-btn:last-of-type {
	float: right;
}

#operations-menu {
	background-color: #CF4C21;
	padding: 20px;
	margin-top: 20px;
	border-radius: 20px;
	text-align: center;
}

.operation-btn {
	background-color: #FFCC85;
	font-size: 20px;
	border-radius: 20px;
	border: 0;
	padding: 10px;
}

.operation-btn:hover {
	cursor: hand;
	color: white;	
}

#main-content {
	text-align: center;
	background-color: #CF4C21;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
}

#header {
	background-color: #CF4C21;
	border-radius: 20px;
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

.bubble-box {
	background-color: #FFCC85;
	border-radius: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.bubble-box:last-of-type {
	margin-bottom: 0;
}

.input-field {
	padding-left: 5px;
	width: 400px;
	height: 30px;
	border-radius: 10px;
	margin-bottom: 20px;
}

label {
	font-size: 20px;
}

#submit-btn {
	border: 0;
	background-color: green;
	color: white;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
}

#cancel-btn {
	border: 0;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
}

#submit-btn:hover, #cancel-btn:hover {
	cursor: hand;
}

footer {
	text-align: center;
}

button:focus, input:focus {
	outline: 0;
}